.doc {
  max-height: 400px;
  height: 400px;
  overflow-y: auto;
}

span.match {
    font-weight: bold;
    background-color: #ffffaa;
}

h3 span.match {
    font-weight: bold;
    background-color: inherit;
}
